body{
    background-image: url("../img/free-website-background-02.jpg") ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-weight: bold;

}
.newpass{
    display: flex;
    flex-direction: column;
    padding-top: 9px;
    width: 400px;
    height: 550px;
    border: 3px solid #033688;
    box-shadow: 6px 6px 7px 0px #0a6edc;
    border-radius: 15px;
}
.input-box input{
    width: 77%;
    margin: 10px calc((18%) / 2);
    border-radius: 7px;
    padding: 11px;
    border: none;
    outline: none;
}
img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 5px auto;
    display: block;
}
h1{
    text-align: center;
    padding: 10px;
}
.error{
    color: red;
    background-color: orange;
    width: 82%;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    font-size: 18px;
}
.update{
    text-align: center;
    padding: 15px;
   margin: auto;

}
.update a{
    text-decoration: none;
    border: 2px solid rgb(255 255 255);
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
    color: #000000;
}
.update a:hover{
    background-color: #172d41;
    color: white;
}
.update input{
    width: 50%;
    margin: 0 calc((18%) / 2);
    border: none;
    border-radius: 18px;
    padding: 11px;
    font-weight: bold;
    font-size: 16px;
    background-color: white;

}
.update input:hover{
    background-color: #172d41;
    color: white;
}
.special{
    text-align: center;
    color: green;
    font-size: 22px;
    background-color: #000000;
    width: 80%;
    margin: auto;
    border-radius: 5px;
}
